<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Array</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <button @click="pushTodo">push</button>
      <!-- 배열 -->
      <ul class="todos">
        <li v-for="(todo,index) in todos" :key="index">{{todo.title}}</li>
      </ul>
      <!-- 객체 -->
      <button @click="addHomepage">addHomepage</button>
      <ul class="heropy">
        <li v-for="(value,key,index) in heropy" :key="index">{{value}}</li>
      </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          todos: [
            {
              title: "아침 먹기",
            },
            {
              title: "점심 먹기",
            },
            {
              title: "저녁 먹기",
            },
          ],
          heropy: {
            name: "heropy",
            age: 35,
          },
        },
        methods: {
          pushTodo() {
            // this.todos[3] = { title: "야식 먹기" };
            // this.todos.push({ title: "야식 먹기" });
            this.$set(this.todos, 3, { title: "야식 먹기" }); // (어디 배열에, 어디 부분에, 무엇을)
            Vue.set(this.todos, 4, { title: "간식 먹기" }); // (어디 배열에, 어디 부분에, 무엇을)
          },
          addHomepage() {
            this.$set(this.heropy, "homepage", "heropy.blog");
          },
        },
      });
    </script>

    <style></style>
  </body>
</html>
